{% extends "layout.html" %}
{% block content %}

<table class="table table-hover">
    <thead>
        <tr class="table-secondary">
            <th scope="col">#</th>
            {% for col_name in columns %}
                <th scope="col">{{ col_name }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for item in data_list %}
            <tr class="">
                <th>{{loop.index}}</th>
                <td> <img src="{{ item.poster }}" class="img-fluid" alt="Movie Poster"> </td>
                <td>{{ item.title }}</td>
                <td><a class="btn btn-dark" href="{{ url_for('add_update_movie', add_type=update_list[0], movie_id=item.movie_id) }}" role="button">{{update_list[1]}}</a></td></tr>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}